* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Playfair Display", sans-serif;

}

html {
	scroll-behavior: smooth;
}

nav{
background-color: skyblue;
}

#photo {
	height: 200px;
	width: 300 px;
	border-radius: 100px;
	margin-top: 50px;
}

.background-image {
  background: url(images/images10.jpg) no-repeat center; 
  background-size: cover;
  min-height: 400px;
max-height: 1100px;
  position: relative;
  padding-bottom: 50px;
  background-repeat: no-repeat;

}

.background1-image {
  background: url(images/images9.jpg) no-repeat center; 
  background-size: cover;
  max-height: 1700px;
  min-height: 750px;
  padding-top: 50px;
  position:relative;
  padding-bottom: 50px;
  background-repeat: no-repeat;
}

.axe-color{
	color: orange;
}

.google-color{
	background-color: grey;
}

.samsung-text{
	color: lightskyblue;
}

.apple-text{
	color: lightblue;
}

.background2-image {
  background: url(images/images1.jpg) no-repeat center; 
  background-size: cover;
   max-height: 1800px;
  min-height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

}

.playstore-color{
	color: pink;
}

.maps-color{
	background-color: lightskyblue;
}

.drive-text{
	color: darkbrown;
}

.gmail-text{
	color: darkbrown;
}

.background3-image {
	background: url(images/images2.jpg) no-repeat center; 
  background-size: cover;
  min-height: 800px;
  max-height: 1600px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.netflix-color {
	background-color: lightskyblue;
}

.spotify-color{
	color: grey;
}



